<nav class="menu">
  <a href="#" class="icon-main">G</a>
  <a href="#" class="icon-skills"></a>
  <a href="#" class="icon-projects"></a>
  <a href="#" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/guilherme-malosti/" target="_blank" class="icon-linkedin"></a>
  <a href="https://github.com/Malosti" target="_blank" class="icon-github"></a>
  <a href="https://instagram.com/guilhermemalosti" target="_blank" class="icon-instagram"></a>
</nav>

<section class="main">
  <div class="content">
    <div class="leftside">
      <h1>Olá, <br> eu sou o <span>G</span>uilherme, <br> desenvolvedor .NET</h1>
      <button class="btn-contact">Entrar em contato</button>
    </div>
    <div class="img"></div>
  </div>
</section>

<section class="skills">7
  <h1>Competências</h1>
  <p>Backend</p>
  <div class="loading-backend"></div>
  <p>Frontend</p>
  <div class="loading-frontend"></div>
  <p>DevOps</p>
  <div class="loading-devops"></div>
  <p>Mobile</p>
  <div class="loading-mobile"></div>
</section>

<section class="projects">
  <h1>Portifólio e <br> Experiências</h1>
  <div class="boxes">
    <div class="box-blue"></div>
    <div class="box-red"></div>
    <div class="box-blue"></div>
  </div>
  <div class="boxes">
    <div class="box-orange"></div>
    <div class="box-green"></div>
    <div class="box-orange"></div>
  </div>
</section>

<section class="contact">
  <h1>Entrar em <br> contato</h1>
  <div class="form">
    <div class="row">
      <input class="input" type="text" placeholder="Nome">
      <input class="input" type="text" placeholder="Email">
    </div>
    <input class="input" type="text" placeholder="Assunto">
    <textarea class="textarea" placeholder="Mensagem"></textarea>
    <button class="submit" type="submit">Enviar</button>
  </div>
</section>