<nav class="menu">
  <a href="#" class="icon-main">G</a>
  <a href="#skills" class="icon-skills"></a>
  <a href="#projects" class="icon-projects"></a>
  <a href="#contact" class="icon-contact"></a>
  <div class="divider"></div>
  <a href="https://www.linkedin.com/in/guilherme-malosti/" target="_blank" class="icon-linkedin"></a>
  <a href="https://github.com/Malosti" target="_blank" class="icon-github"></a>
  <a href="https://instagram.com/guilhermemalosti" target="_blank" class="icon-instagram"></a>
</nav>

<section class="main">
  <div class="content">
    <div class="leftside">
      <h1>Olá, <br> eu sou o <span>G</span>uilherme, <br> desenvolvedor .NET</h1>
      <button class="btn-contact">Entrar em contato</button>
    </div>
    <div class="img"></div>
  </div>
</section>

<section class="skills" id="skills">
  <h1>Competências</h1>

  <p>Backend</p>
  <div class="loading backend"></div>

  <p>Frontend</p>
  <div class="loading frontend"></div>

  <p>DevOps</p>
  <div class="loading devops"></div>
  
  <p>Mobile</p>
  <div class="loading mobile"></div>
</section>

<section class="projects" id="projects">
  <h1>Portifólio e <br> Experiências</h1>
  <div class="boxes">
    <div class="box blue"><a href="https://github.com/Malosti/Projeto-OptimusTech" target="_blank">Projeto-OptimusTech</a></div>
    <div class="box red"><a href="https://github.com/Malosti/ApiViaCep" target="_blank">ApiViaCep</a></div>
    <div class="box blue"><a href="https://github.com/Malosti/MovieList" target="_blank">MovieList</a></div>
  </div>
  <div class="boxes">
    <div class="box orange"><a href="https://malosti.github.io/projeto-slider-pokemon/" target="_blank">projeto-slider-pokemon</a></div>
    <div class="box green"><a href="https://github.com/Malosti/SalesWeb" target="_blank">SalesWeb</a></div>
    <div class="box orange"><a href="https://github.com/Malosti/Projeto_Tamagotchi" target="_blank">Projeto_Tamagotchi</a></div>
  </div>
</section>

<section class="contact" id="contact">
  <h1>Entrar em <br> contato</h1>
  <div class="form">
    <div class="row">
      <input class="input" type="text" placeholder="Nome" [(ngModel)]="name">
      <input class="input" type="text" placeholder="Email"[(ngModel)]="email">
    </div>
    <input class="input" type="text" placeholder="Assunto"[(ngModel)]="subject">
    <textarea class="textarea" placeholder="Mensagem"[(ngModel)]="message"></textarea>
    <button class="submit" type="submit" (click)="sendMessage()">Enviar</button>
  </div>
</section>